$Purple: #da38da;

.intro {
  color: white;
  height: calc(100vh - 50px);
  width: 100vw;

  background-image: url("../assets/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;

  .introContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    line-height: 5.5rem;
    position: relative;
    top: 200px;
  }

  .links {
    display: flex;
    z-index: 20;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(124, 119, 119);
    align-items: center;
    margin-top: 250px;
    position: absolute;
    left: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 300px;
    width: 65px;
    transition: transform 1s ease;

    .link:hover {
      cursor: pointer;
      transform: translateY(-5px);
    }

    img {
      height: 40px;
      width: 40px;
    }
  }

  .hello {
    align-items: center;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
  }
  .introText {
    margin: 40px;
  }
  .introName {
    margin: 20px;
    color: $Purple;
  }
  .post {
    font-size: 3rem;
    font-weight: 600;
  }
  .introPara {
    margin-top: 20px;
    font-size: 1.8rem;
    width: 50%;
    line-height: 2rem;
  }
  .introBtn {
    margin-top: 50px;
    width: 250px;
    height: 60px;
    border: none;
    border-radius: 8px;
    background-color: $Purple;
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: transform 0.6s ease;
  }
  .introBtn:hover {
    transform: translateY(-6px);
  }
}

.scroll {
  display: flex;
  justify-content: center;

  .scrollBtn {
    position: absolute;
    color: white;
    font-size: 3rem;
    bottom: 3rem;
    transform: translateX(-50%);
    animation: mouseScrollAnimation 0.5s linear infinite alternate;
  }

  @keyframes mouseScrollAnimation {
    to {
      transform: translate(-50%, -10px);
    }
  }
}

@media screen and (min-width: 768px) {
  .hello {
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
  }
  .introText {
    margin: 30px;
  }
  .introName {
    margin: 15px;
    color: $Purple;
  }
  .post {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .introPara {
    margin-top: 20px;
    font-size: 1.2rem;
    width: 50%;
    line-height: 1.3rem;
  }
  .introBtn {
    margin-top: 50px;
    width: 250px;
    height: 60px;
    border: none;
    border-radius: 8px;
    background-color: $Purple;
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: transform 0.6s ease;
  }
  .introBtn:hover {
    transform: translateY(-6px);
  }
}
